In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pyspark
import pyspark.sql

In [4]:
import pyspark.sql.functions as F

In [5]:
spark = pyspark.sql.SparkSession.builder.master("local").getOrCreate()

In [6]:
dessertMenuDF = spark.read.format("csv").option("header","true").option("inferSchema","true").load("C://spark/data/dessert-menu.csv")

In [7]:
dessertMenuDF.show()

+------+---------------+-----+----+
|menuId|           name|price|kcal|
+------+---------------+-----+----+
|   D-0|  초콜릿 파르페| 4900| 420|
|   D-1|    푸딩 파르페| 5300| 380|
|   D-2|    딸기 파르페| 5200| 320|
|   D-3|       판나코타| 4200| 283|
|   D-4|      치즈 무스| 5800| 288|
|   D-5|       아포가토| 3000| 248|
|   D-6|       티라미스| 6000| 251|
|   D-7|    녹차 파르페| 4500| 380|
|   D-8|  바닐라 젤라또| 3600| 131|
|   D-9|  카라멜 팬케익| 3900| 440|
|  D-10|    크림 안미츠| 5000| 250|
|  D-11|  고구마 파르페| 6500| 650|
|  D-12|      녹차 빙수| 3800| 320|
|  D-13|  초코 크레이프| 3700| 300|
|  D-14|바나나 크레이프| 3300| 220|
|  D-15|  커스터드 푸딩| 2000| 120|
|  D-16|    초코 토르테| 3300| 220|
|  D-17|    치즈 수플레| 2200| 160|
|  D-18|    호박 타르트| 3400| 230|
|  D-19|      캬라멜 롤| 3700| 230|
+------+---------------+-----+----+
only showing top 20 rows

In [8]:
dessertMenuDF.printSchema()

root
 |-- menuId: string (nullable = true)
 |-- name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- kcal: integer (nullable = true)

In [9]:
dessertOrderDF = spark.read.format("csv").option("header","False").option("inferSchema","true").load("C://spark/data/dessert-order.csv")

In [10]:
dessertOrderDF.show()

+-----+----+---+
|  _c0| _c1|_c2|
+-----+----+---+
|SID-0| D-0|  2|
|SID-0| D-3|  1|
|SID-1|D-10|  4|
|SID-2| D-5|  1|
|SID-2| D-8|  1|
|SID-2|D-20|  1|
+-----+----+---+

In [11]:
dessertOrderDF = dessertOrderDF.withColumnRenamed("_c0","orderId").withColumnRenamed("_c1","menuId").withColumnRenamed("_c2","number")

In [12]:
dessertOrderDF.printSchema()

root
 |-- orderId: string (nullable = true)
 |-- menuId: string (nullable = true)
 |-- number: integer (nullable = true)

In [13]:
dessertOrderDF.show()

+-------+------+------+
|orderId|menuId|number|
+-------+------+------+
|  SID-0|   D-0|     2|
|  SID-0|   D-3|     1|
|  SID-1|  D-10|     4|
|  SID-2|   D-5|     1|
|  SID-2|   D-8|     1|
|  SID-2|  D-20|     1|
+-------+------+------+

In [14]:
joinDF = dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId)

In [15]:
joinDF.show()

+-------+------+------+------+-------------+-----+----+
|orderId|menuId|number|menuId|         name|price|kcal|
+-------+------+------+------+-------------+-----+----+
|  SID-0|   D-0|     2|   D-0|초콜릿 파르페| 4900| 420|
|  SID-0|   D-3|     1|   D-3|     판나코타| 4200| 283|
|  SID-2|   D-5|     1|   D-5|     아포가토| 3000| 248|
|  SID-2|   D-8|     1|   D-8|바닐라 젤라또| 3600| 131|
|  SID-1|  D-10|     4|  D-10|  크림 안미츠| 5000| 250|
|  SID-2|  D-20|     1|  D-20|    치즈 케익| 4000| 230|
+-------+------+------+------+-------------+-----+----+

In [16]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "outer").show()

+-------+------+------+------+---------------+-----+----+
|orderId|menuId|number|menuId|           name|price|kcal|
+-------+------+------+------+---------------+-----+----+
|   null|  null|  null|   D-2|    딸기 파르페| 5200| 320|
|   null|  null|  null|  D-13|  초코 크레이프| 3700| 300|
|   null|  null|  null|  D-21|      애플 파이| 4400| 350|
|  SID-0|   D-3|     1|   D-3|       판나코타| 4200| 283|
|   null|  null|  null|  D-14|바나나 크레이프| 3300| 220|
|  SID-2|   D-5|     1|   D-5|       아포가토| 3000| 248|
|   null|  null|  null|   D-4|      치즈 무스| 5800| 288|
|   null|  null|  null|  D-15|  커스터드 푸딩| 2000| 120|
|   null|  null|  null|   D-9|  카라멜 팬케익| 3900| 440|
|   null|  null|  null|  D-17|    치즈 수플레| 2200| 160|
|   null|  null|  null|  D-11|  고구마 파르페| 6500| 650|
|   null|  null|  null|   D-7|    녹차 파르페| 4500| 380|
|   null|  null|  null|  D-18|    호박 타르트| 3400| 230|
|   null|  null|  null|  D-12|      녹차 빙수| 3800| 320|
|   null|  null|  null|   D-6|       티라미스| 6000| 251|
|   null|  null|  null|  D-22|         몽블랑| 4700| 290|
|  SID-1|  D-10|     4|  D-10|    크림 안미츠| 5000| 250|
|  SID-2|  D-20|     1|  D-20|      치즈 케익| 4000| 230|
|  SID-2|   D-8|     1|   D-8|  바닐라 젤라또| 3600| 131|
|   null|  null|  null|  D-19|      캬라멜 롤| 3700| 230|
+-------+------+------+------+---------------+-----+----+
only showing top 20 rows

In [17]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "full_outer").show()

+-------+------+------+------+---------------+-----+----+
|orderId|menuId|number|menuId|           name|price|kcal|
+-------+------+------+------+---------------+-----+----+
|   null|  null|  null|   D-2|    딸기 파르페| 5200| 320|
|   null|  null|  null|  D-13|  초코 크레이프| 3700| 300|
|   null|  null|  null|  D-21|      애플 파이| 4400| 350|
|  SID-0|   D-3|     1|   D-3|       판나코타| 4200| 283|
|   null|  null|  null|  D-14|바나나 크레이프| 3300| 220|
|  SID-2|   D-5|     1|   D-5|       아포가토| 3000| 248|
|   null|  null|  null|   D-4|      치즈 무스| 5800| 288|
|   null|  null|  null|  D-15|  커스터드 푸딩| 2000| 120|
|   null|  null|  null|   D-9|  카라멜 팬케익| 3900| 440|
|   null|  null|  null|  D-17|    치즈 수플레| 2200| 160|
|   null|  null|  null|  D-11|  고구마 파르페| 6500| 650|
|   null|  null|  null|   D-7|    녹차 파르페| 4500| 380|
|   null|  null|  null|  D-18|    호박 타르트| 3400| 230|
|   null|  null|  null|  D-12|      녹차 빙수| 3800| 320|
|   null|  null|  null|   D-6|       티라미스| 6000| 251|
|   null|  null|  null|  D-22|         몽블랑| 4700| 290|
|  SID-1|  D-10|     4|  D-10|    크림 안미츠| 5000| 250|
|  SID-2|  D-20|     1|  D-20|      치즈 케익| 4000| 230|
|  SID-2|   D-8|     1|   D-8|  바닐라 젤라또| 3600| 131|
|   null|  null|  null|  D-19|      캬라멜 롤| 3700| 230|
+-------+------+------+------+---------------+-----+----+
only showing top 20 rows

In [18]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "left_outer").show()

+-------+------+------+------+-------------+-----+----+
|orderId|menuId|number|menuId|         name|price|kcal|
+-------+------+------+------+-------------+-----+----+
|  SID-0|   D-0|     2|   D-0|초콜릿 파르페| 4900| 420|
|  SID-0|   D-3|     1|   D-3|     판나코타| 4200| 283|
|  SID-1|  D-10|     4|  D-10|  크림 안미츠| 5000| 250|
|  SID-2|   D-5|     1|   D-5|     아포가토| 3000| 248|
|  SID-2|   D-8|     1|   D-8|바닐라 젤라또| 3600| 131|
|  SID-2|  D-20|     1|  D-20|    치즈 케익| 4000| 230|
+-------+------+------+------+-------------+-----+----+

In [19]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "right_outer").show()

+-------+------+------+------+---------------+-----+----+
|orderId|menuId|number|menuId|           name|price|kcal|
+-------+------+------+------+---------------+-----+----+
|  SID-0|   D-0|     2|   D-0|  초콜릿 파르페| 4900| 420|
|   null|  null|  null|   D-1|    푸딩 파르페| 5300| 380|
|   null|  null|  null|   D-2|    딸기 파르페| 5200| 320|
|  SID-0|   D-3|     1|   D-3|       판나코타| 4200| 283|
|   null|  null|  null|   D-4|      치즈 무스| 5800| 288|
|  SID-2|   D-5|     1|   D-5|       아포가토| 3000| 248|
|   null|  null|  null|   D-6|       티라미스| 6000| 251|
|   null|  null|  null|   D-7|    녹차 파르페| 4500| 380|
|  SID-2|   D-8|     1|   D-8|  바닐라 젤라또| 3600| 131|
|   null|  null|  null|   D-9|  카라멜 팬케익| 3900| 440|
|  SID-1|  D-10|     4|  D-10|    크림 안미츠| 5000| 250|
|   null|  null|  null|  D-11|  고구마 파르페| 6500| 650|
|   null|  null|  null|  D-12|      녹차 빙수| 3800| 320|
|   null|  null|  null|  D-13|  초코 크레이프| 3700| 300|
|   null|  null|  null|  D-14|바나나 크레이프| 3300| 220|
|   null|  null|  null|  D-15|  커스터드 푸딩| 2000| 120|
|   null|  null|  null|  D-16|    초코 토르테| 3300| 220|
|   null|  null|  null|  D-17|    치즈 수플레| 2200| 160|
|   null|  null|  null|  D-18|    호박 타르트| 3400| 230|
|   null|  null|  null|  D-19|      캬라멜 롤| 3700| 230|
+-------+------+------+------+---------------+-----+----+
only showing top 20 rows

In [20]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId)  \
.groupBy(dessertOrderDF.orderId)  \
.agg(F.sum(dessertOrderDF.number * dessertMenuDF.price))  \
.orderBy(dessertOrderDF.orderId)  \
.show()

+-------+---------------------+
|orderId|sum((number * price))|
+-------+---------------------+
|  SID-0|                14000|
|  SID-1|                20000|
|  SID-2|                10600|
+-------+---------------------+

In [21]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId)  \
.agg(F.sum(dessertOrderDF.number * dessertMenuDF.price))  \
.show()

+---------------------+
|sum((number * price))|
+---------------------+
|                44600|
+---------------------+

In [22]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "outer")  \
.filter(dessertOrderDF.orderId.isNull())  \
.select(dessertMenuDF.menuId, dessertMenuDF.name)  \
.orderBy(dessertOrderDF.menuId)  \
.show()

+------+---------------+
|menuId|           name|
+------+---------------+
|   D-2|    딸기 파르페|
|  D-13|  초코 크레이프|
|  D-21|      애플 파이|
|  D-14|바나나 크레이프|
|   D-4|      치즈 무스|
|  D-15|  커스터드 푸딩|
|   D-9|  카라멜 팬케익|
|  D-17|    치즈 수플레|
|  D-11|  고구마 파르페|
|   D-7|    녹차 파르페|
|  D-18|    호박 타르트|
|  D-12|      녹차 빙수|
|   D-6|       티라미스|
|  D-22|         몽블랑|
|  D-19|      캬라멜 롤|
|   D-1|    푸딩 파르페|
|  D-16|    초코 토르테|
+------+---------------+

In [23]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "outer")  \
.filter(F.col("orderId").isNull())  \
.select(dessertMenuDF.menuId, dessertMenuDF.name)  \
.orderBy(dessertOrderDF.menuId)  \
.show()

+------+---------------+
|menuId|           name|
+------+---------------+
|   D-2|    딸기 파르페|
|  D-13|  초코 크레이프|
|  D-21|      애플 파이|
|  D-14|바나나 크레이프|
|   D-4|      치즈 무스|
|  D-15|  커스터드 푸딩|
|   D-9|  카라멜 팬케익|
|  D-17|    치즈 수플레|
|  D-11|  고구마 파르페|
|   D-7|    녹차 파르페|
|  D-18|    호박 타르트|
|  D-12|      녹차 빙수|
|   D-6|       티라미스|
|  D-22|         몽블랑|
|  D-19|      캬라멜 롤|
|   D-1|    푸딩 파르페|
|  D-16|    초코 토르테|
+------+---------------+

In [24]:
dessertOrderDF.join(dessertMenuDF, dessertMenuDF.menuId == dessertOrderDF.menuId, "outer")  \
.where(""" orderId = "SID-0" """)  \
.select(dessertMenuDF.menuId, dessertMenuDF.name)  \
.orderBy(dessertOrderDF.menuId)  \
.show()

+------+-------------+
|menuId|         name|
+------+-------------+
|   D-0|초콜릿 파르페|
|   D-3|     판나코타|
+------+-------------+

In [25]:
dessertOrderDF.join(dessertMenuDF, dessertOrderDF.menuId == dessertMenuDF.menuId, "right_outer") \
.groupby(dessertMenuDF.menuId) \
.agg(F.sum(dessertOrderDF.number).alias("numberSum")) \
.filter(F.col("numberSum").isNull()) \
.show()

+------+---------+
|menuId|numberSum|
+------+---------+
|   D-2|     null|
|  D-13|     null|
|  D-21|     null|
|  D-14|     null|
|   D-4|     null|
|  D-15|     null|
|   D-9|     null|
|  D-17|     null|
|  D-11|     null|
|   D-7|     null|
|  D-18|     null|
|  D-12|     null|
|   D-6|     null|
|  D-22|     null|
|  D-19|     null|
|   D-1|     null|
|  D-16|     null|
+------+---------+

In [26]:
dessertOrderDF.join(dessertMenuDF, dessertOrderDF.menuId == dessertMenuDF.menuId, "right_outer") \
.groupby(dessertMenuDF.menuId) \
.agg(F.sum(dessertOrderDF.number).alias("numberSum")) \
.filter(F.col("numberSum") < 3) \
.show()

+------+---------+
|menuId|numberSum|
+------+---------+
|   D-3|        1|
|   D-5|        1|
|  D-20|        1|
|   D-8|        1|
|   D-0|        2|
+------+---------+

In [27]:
nullMenuDF = dessertOrderDF.join(dessertMenuDF, dessertOrderDF.menuId == dessertMenuDF.menuId, "right_outer") \
.groupby(dessertMenuDF.menuId) \
.agg(F.sum(dessertOrderDF.number).alias("numberSum")) \
.filter(F.col("numberSum").isNull())

In [28]:
lessThan3DF = dessertOrderDF.join(dessertMenuDF, dessertOrderDF.menuId == dessertMenuDF.menuId, "right_outer") \
.groupby(dessertMenuDF.menuId) \
.agg(F.sum(dessertOrderDF.number).alias("numberSum")) \
.filter(F.col("numberSum") < 3)

In [29]:
nullMenuDF.union(lessThan3DF).show()

+------+---------+
|menuId|numberSum|
+------+---------+
|   D-2|     null|
|  D-13|     null|
|  D-21|     null|
|  D-14|     null|
|   D-4|     null|
|  D-15|     null|
|   D-9|     null|
|  D-17|     null|
|  D-11|     null|
|   D-7|     null|
|  D-18|     null|
|  D-12|     null|
|   D-6|     null|
|  D-22|     null|
|  D-19|     null|
|   D-1|     null|
|  D-16|     null|
|   D-3|        1|
|   D-5|        1|
|  D-20|        1|
+------+---------+
only showing top 20 rows

In [30]:
d0DF = dessertOrderDF.where(""" menuId = "D-0" """)

In [31]:
d0DF.show()

+-------+------+------+
|orderId|menuId|number|
+-------+------+------+
|  SID-0|   D-0|     2|
+-------+------+------+

In [32]:
d10DF = dessertOrderDF.where(""" menuId = "D-10" """)

In [33]:
d10DF.show()

+-------+------+------+
|orderId|menuId|number|
+-------+------+------+
|  SID-1|  D-10|     4|
+-------+------+------+

In [34]:
d0DF.union(d10DF).distinct().show()

+-------+------+------+
|orderId|menuId|number|
+-------+------+------+
|  SID-1|  D-10|     4|
|  SID-0|   D-0|     2|
+-------+------+------+

In [35]:
dessertOrderDF.where(""" menuId = "D-0" OR menuId = "D-10" """).distinct().show()

+-------+------+------+
|orderId|menuId|number|
+-------+------+------+
|  SID-1|  D-10|     4|
|  SID-0|   D-0|     2|
+-------+------+------+

In [36]:
dessertMenuDF2 = dessertMenuDF.withColumn("priceLevel", F.col("price") - F.col("price") % 1000)

In [37]:
dessertMenuDF2.show()

+------+---------------+-----+----+----------+
|menuId|           name|price|kcal|priceLevel|
+------+---------------+-----+----+----------+
|   D-0|  초콜릿 파르페| 4900| 420|      4000|
|   D-1|    푸딩 파르페| 5300| 380|      5000|
|   D-2|    딸기 파르페| 5200| 320|      5000|
|   D-3|       판나코타| 4200| 283|      4000|
|   D-4|      치즈 무스| 5800| 288|      5000|
|   D-5|       아포가토| 3000| 248|      3000|
|   D-6|       티라미스| 6000| 251|      6000|
|   D-7|    녹차 파르페| 4500| 380|      4000|
|   D-8|  바닐라 젤라또| 3600| 131|      3000|
|   D-9|  카라멜 팬케익| 3900| 440|      3000|
|  D-10|    크림 안미츠| 5000| 250|      5000|
|  D-11|  고구마 파르페| 6500| 650|      6000|
|  D-12|      녹차 빙수| 3800| 320|      3000|
|  D-13|  초코 크레이프| 3700| 300|      3000|
|  D-14|바나나 크레이프| 3300| 220|      3000|
|  D-15|  커스터드 푸딩| 2000| 120|      2000|
|  D-16|    초코 토르테| 3300| 220|      3000|
|  D-17|    치즈 수플레| 2200| 160|      2000|
|  D-18|    호박 타르트| 3400| 230|      3000|
|  D-19|      캬라멜 롤| 3700| 230|      3000|
+------+---------------+-----+----+----------+
only showing top 20 rows

In [38]:
dessertMenuDF2.join(dessertOrderDF, dessertMenuDF2.menuId == dessertOrderDF.menuId ) \
.groupBy(dessertMenuDF2.priceLevel) \
.agg(F.sum(dessertOrderDF.number * dessertMenuDF2.price)) \
.show()

+----------+---------------------+
|priceLevel|sum((number * price))|
+----------+---------------------+
|      3000|                 6600|
|      4000|                18000|
|      5000|                20000|
+----------+---------------------+

In [39]:
dessertMenuDF.createOrReplaceTempView("Menu")

In [40]:
dessertOrderDF.createOrReplaceTempView("Order")

In [41]:
joinDF = spark.sql("""   SELECT Menu.menuId, Menu.price, Menu.kcal, Order.*
                FROM Menu join Order ON (Menu.menuId = Order.menuId)
          """)

In [42]:
joinDF.show()

+------+-----+----+-------+------+------+
|menuId|price|kcal|orderId|menuId|number|
+------+-----+----+-------+------+------+
|   D-0| 4900| 420|  SID-0|   D-0|     2|
|   D-3| 4200| 283|  SID-0|   D-3|     1|
|   D-5| 3000| 248|  SID-2|   D-5|     1|
|   D-8| 3600| 131|  SID-2|   D-8|     1|
|  D-10| 5000| 250|  SID-1|  D-10|     4|
|  D-20| 4000| 230|  SID-2|  D-20|     1|
+------+-----+----+-------+------+------+

In [44]:
spark.sql(""" SELECT Menu.menuId, sum(Order.number) as menuQty
              FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
              GROUP BY Menu.menuId
              HAVING menuQty < 3
          """).show()

+------+-------+
|menuId|menuQty|
+------+-------+
|   D-3|      1|
|   D-5|      1|
|  D-20|      1|
|   D-8|      1|
|   D-0|      2|
+------+-------+

In [46]:
spark.sql(""" SELECT Menu.menuId, Menu.name
              FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
              WHERE Order.orderId IS NULL
              """).show()

+------+---------------+
|menuId|           name|
+------+---------------+
|   D-2|    딸기 파르페|
|  D-13|  초코 크레이프|
|  D-21|      애플 파이|
|  D-14|바나나 크레이프|
|   D-4|      치즈 무스|
|  D-15|  커스터드 푸딩|
|   D-9|  카라멜 팬케익|
|  D-17|    치즈 수플레|
|  D-11|  고구마 파르페|
|   D-7|    녹차 파르페|
|  D-18|    호박 타르트|
|  D-12|      녹차 빙수|
|   D-6|       티라미스|
|  D-22|         몽블랑|
|  D-19|      캬라멜 롤|
|   D-1|    푸딩 파르페|
|  D-16|    초코 토르테|
+------+---------------+

In [49]:
spark.sql(""" (SELECT Menu.menuId, sum(Order.number) as menuQty
              FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
              GROUP BY Menu.menuId
              HAVING menuQty < 3)
              UNION
              (SELECT Menu.menuId, Order.number
              FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
              WHERE Order.orderId IS NULL)
          """).show()

+------+-------+
|menuId|menuQty|
+------+-------+
|   D-2|   null|
|  D-13|   null|
|  D-21|   null|
|   D-0|      2|
|   D-8|      1|
|   D-3|      1|
|  D-14|   null|
|   D-4|   null|
|  D-15|   null|
|   D-9|   null|
|  D-17|   null|
|  D-11|   null|
|   D-7|   null|
|  D-18|   null|
|   D-5|      1|
|  D-12|   null|
|   D-6|   null|
|  D-22|   null|
|  D-19|   null|
|  D-20|      1|
+------+-------+
only showing top 20 rows

In [55]:
more3DF = spark.sql("""SELECT t.menuId
                       FROM (SELECT Menu.menuId, sum(Order.number) as menuQty
                       FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
                       GROUP BY Menu.menuId
                       HAVING menuQty >= 3) as t
                    """)

In [56]:
more3DF.createOrReplaceTempView("Menu3")

In [58]:
spark.sql(""" SELECT *
              FROM Menu3 """).show()

+------+
|menuId|
+------+
|  D-10|
+------+

In [59]:
spark.sql("""     (SELECT menuId
                   FROM Menu)
                   MINUS
                  (SELECT t.menuId
                   FROM (SELECT Menu.menuId, sum(Order.number) as menuQty
                       FROM Menu full outer join Order ON (Menu.menuId = Order.menuId)
                       GROUP BY Menu.menuId
                       HAVING menuQty >= 3) as t)
               """).show()

+------+
|menuId|
+------+
|   D-2|
|  D-13|
|  D-21|
|   D-3|
|  D-14|
|   D-5|
|   D-4|
|  D-15|
|   D-9|
|  D-17|
|  D-11|
|   D-7|
|  D-18|
|  D-12|
|   D-6|
|  D-22|
|  D-20|
|   D-8|
|  D-19|
|   D-0|
+------+
only showing top 20 rows

In [51]:
spark.sql(""" SELECT menuId
              FROM Menu """).show()

+------+
|menuId|
+------+
|   D-0|
|   D-1|
|   D-2|
|   D-3|
|   D-4|
|   D-5|
|   D-6|
|   D-7|
|   D-8|
|   D-9|
|  D-10|
|  D-11|
|  D-12|
|  D-13|
|  D-14|
|  D-15|
|  D-16|
|  D-17|
|  D-18|
|  D-19|
+------+
only showing top 20 rows

In [63]:
spark.sql("""SELECT orderId
             FROM Order
             WHERE menuId = "D-10"
             OR menuId = "D-0"
""").show()

+-------+
|orderId|
+-------+
|  SID-0|
|  SID-1|
+-------+

In [64]:
spark.sql("""(SELECT orderId
              FROM Order
              WHERE menuId = "D-0")
              INTERSECT
              (SELECT orderId
              FROM Order
              WHERE menuId = "D-3")
              """).show()

+-------+
|orderId|
+-------+
|  SID-0|
+-------+

In [66]:
spark.sql("""
             SELECT Menu.*, (Menu.price - (Menu.price % 1000)) AS priceLevel
             FROM Menu
""").show()

+------+---------------+-----+----+----------+
|menuId|           name|price|kcal|priceLevel|
+------+---------------+-----+----+----------+
|   D-0|  초콜릿 파르페| 4900| 420|      4000|
|   D-1|    푸딩 파르페| 5300| 380|      5000|
|   D-2|    딸기 파르페| 5200| 320|      5000|
|   D-3|       판나코타| 4200| 283|      4000|
|   D-4|      치즈 무스| 5800| 288|      5000|
|   D-5|       아포가토| 3000| 248|      3000|
|   D-6|       티라미스| 6000| 251|      6000|
|   D-7|    녹차 파르페| 4500| 380|      4000|
|   D-8|  바닐라 젤라또| 3600| 131|      3000|
|   D-9|  카라멜 팬케익| 3900| 440|      3000|
|  D-10|    크림 안미츠| 5000| 250|      5000|
|  D-11|  고구마 파르페| 6500| 650|      6000|
|  D-12|      녹차 빙수| 3800| 320|      3000|
|  D-13|  초코 크레이프| 3700| 300|      3000|
|  D-14|바나나 크레이프| 3300| 220|      3000|
|  D-15|  커스터드 푸딩| 2000| 120|      2000|
|  D-16|    초코 토르테| 3300| 220|      3000|
|  D-17|    치즈 수플레| 2200| 160|      2000|
|  D-18|    호박 타르트| 3400| 230|      3000|
|  D-19|      캬라멜 롤| 3700| 230|      3000|
+------+---------------+-----+----+----------+
only showing top 20 rows

In [67]:
Menu2DF = spark.sql("""
             SELECT Menu.*, (Menu.price - (Menu.price % 1000)) AS priceLevel
             FROM Menu
""")

In [68]:
Menu2DF.createOrReplaceTempView("Menu2")

In [76]:
spark.sql("""SELECT Menu3.priceLevel, sum(Order.number)
             FROM Order JOIN (SELECT Menu.*, (Menu.price - (Menu.price % 1000)) priceLevel
                              FROM Menu) as Menu3
                              ON (Order.menuId = Menu3.menuId)
             GROUP BY Menu3.priceLevel
          """).show()

+----------+-----------+
|priceLevel|sum(number)|
+----------+-----------+
|      3000|          2|
|      4000|          4|
|      5000|          4|
+----------+-----------+